body {
  font-family: sans-serif;
  background-color: darkgrey;
}

:root {
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 0.5rem;
  --spacing-l: 1.5rem;
  --line-height: 0;
}

/* card ITALY */
.card {
  background-image: url(./images/bg-4.png);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 340px;
  height: 245px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  margin: var(--spacing-l);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

.card__content {
  padding: var(--spacing-l);
  position: absolute;
  bottom: 1px;
}

.card__tag {
  /*othername*/
  width: 4rem;
  color: var(--text-lighter);
  font-size: 1rem;
  padding: 3px;
  border-radius: 5px;
  text-align: center;
}

.card__tag--red {
  background-color: #e33c36;
}

.card__tag--top-left {
  position: absolute;
  top: 2rem;
  left: var(--spacing-l);
}

.card__tag--blue {
  background-color: #0b69fe;
}

.card__tag--top-right {
  position: absolute;
  top: var(--spacing-l);
  right: var(--spacing-l);
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.6rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: var(--line-height);
}
.card__description {
  color: var(--text-lighter);
  font-size: 0.9rem;
  line-height: var(--line-height);
}

.card_dots {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1.4rem;
  right: var(--spacing-s);
}

/* card SPAIN */
.card2 {
  width: 340px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  margin: var(--spacing-l);
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9);
}

.card2__heart {
  position: absolute;
  bottom: 2rem;
  right: var(--spacing-l);
}

.card2__img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card2__word {
  padding: var(--spacing-l);
  background-color: var(--text-lighter);
  border-radius: 20px;
}

.card2__heading {
  font-size: 1.2rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: var(--line-height);
}
.card2__description {
  font-size: 0.8rem;
}

/* card ITALY */
.card3 {
  background-image: url(./images/bg-1.png);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 370px;
  height: 425px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  margin: var(--spacing-l);
}

.card3_heart {
  position: absolute;
  top: 1.4rem;
  right: var(--spacing-l);
}

.card__heading--right-space {
  margin-right: 20px;
}

.card3__tag {
  color: var(--text-lighter);
  font-size: 1rem;
  padding: 2px 15px;
  border-radius: 10px;
  text-align: center;
  background-color: #e33c36;
}
